<div class="container-fluid" style="min-height: 40vh;">
    <div class="Heading row">
        <div class="cut-text">
            {{_todo.todoName}}
        </div>
        <button mat-icon-button  (click)="changeName()">
            <mat-icon>edit</mat-icon>
        </button>
    </div>
    <mat-tab-group mat-align-tabs="center">
        <mat-tab label="CheckList" class="checklist" color="accent">
            <app-check-list [todoId]="_todo.id"></app-check-list>
        </mat-tab>
    </mat-tab-group>
    <button mat-raised-button color="accent" class="deletebtn" (click)="deleteThisTask()">Delete this Task</button>
</div>