<mat-sidenav-container>
    <mat-sidenav>Start</mat-sidenav>
    <mat-sidenav-content>
        <header>

        </header>

        <body>
            <div class="container-fluid">
                <div class="row">
                    <mat-card class="Board col-12 col-md-2" *ngFor="let board of boards">
                        <mat-card-header>
                            <mat-card-title>{{board.boardName}}</mat-card-title>
                            <button mat-button mat-flat-button [matMenuTriggerData]="board" [matMenuTriggerFor]="boardmenu"><mat-icon>expand_more</mat-icon></button>

                        </mat-card-header>
                        <app-todo [Id]="board.id"></app-todo>
                    </mat-card>

                    <mat-expansion-panel class="col-md-2 newboard">
                        <mat-expansion-panel-header>
                            <mat-panel-title>
                                New Board
                            </mat-panel-title>
                        </mat-expansion-panel-header>
                        <div class="inputfield">
                            <mat-form-field>
                                <mat-label>Name</mat-label>
                                <input matInput #newboardname (keydown.enter)="NewBoard(newboardname.value);newboardname.value=''">
                            </mat-form-field>
                            <button class="btn btn-success" (click)="NewBoard(newboardname.value);newboardname.value=''">
                                <mat-icon>add</mat-icon>
                            </button>
                        </div>

                    </mat-expansion-panel>


                </div>
            </div>
        </body>
        <footer>

        </footer>
    </mat-sidenav-content>
</mat-sidenav-container>

<mat-menu #boardmenu="matMenu">
    <ng-template matMenuContent let-id="id" let-name="boardName">
        <button mat-menu-item (click)="ModBoard(name,id)"><span>
                <mat-icon>edit</mat-icon>
            </span>ChangeName</button>
        <button mat-menu-item (click)="DeleteBoard(id)"><span>
                <mat-icon>delete</mat-icon>
            </span>Delete</button>
    </ng-template>
</mat-menu>