<div class="container-fluid">
    <div class="checklist">
        <div *ngIf="checkList.length >0">
            <h4>{{percentOfFinished}}% Finished</h4>
            <mat-progress-bar mode="determinate" [value]="percentOfFinished"></mat-progress-bar>
            <mat-checkbox *ngFor="let item of checkList" [checked]="item.isfinished" (click)="UpdateStatus(item)">
                {{item.itemName}}</mat-checkbox>

        </div>
    </div>
    <div class="NewItem">
            <div class="InputForm">
                <mat-form-field>
                    <mat-label>Add Item</mat-label>
                    <input matInput #NewItemName (keydown.enter)="NewItem(todoId,NewItemName.value);NewItemName.value=''">
                </mat-form-field>
                <button mat-flat-button mat-icon-button color="primary" (click)="NewItem(todoId,NewItemName.value);NewItemName.value=''">
                    <mat-icon>add</mat-icon>
                </button>
            </div>
    </div>
</div>