mat-checkbox{
    display: block;
}
.Heading{
    input{
        display: inline-block;
        width: 60%;
    }
    button{
        display: inline-block;
    }
}


.NewItem{
    mat-form-field{
        width: 60%;
    }
    button{
        padding: 0;
        margin-left: 1rem;
    }
}